.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
  transition: all 0.5s ease-in-out;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: 18px;
}

.navbar:hover {
  background-color: #3d7692;
}
